* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.bottom {
    height: 120px;
    width: 90%;
    min-width: 1200px;
    margin: 0 auto;

}
.bottom_top {
    width: 100%;
    height: 35px;
    background-color: #04628d;
}
.bottom_content {
    text-align: center;
    height: 85px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    
}
.bottom_content ul li {
    list-style: none;
}
.bottom_content ul li span a {
    color: black;
}
.bottom_content ul li span a:hover {
    color: #a30101;
}
.bottom_content .change {
    font-size: 14px;
}